@media ( max-width : 390px ) {
  .header {
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 50px;
  }

  .links-header {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .header h3 {
    color: #FFFF;
    font-size: 12px;
    margin-left: 10px;
    font-weight: 600;
  }

  .header h4 {
    color: #FFFF;
    font-size: 8px;
    margin-right: 10px;
    font-weight: 300;
  }
}

@media ( min-width : 361px ) {

}